{% extends 'base/index_base.html' %}
{% load staticfiles %}
{% block jsfile %}
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>
{% endblock jsfile %}
{% block cssfile %}
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
  <link rel="stylesheet" href="{% static 'css/buttons.dataTables.css' %}">
  <link rel="stylesheet" href="{% static 'css/select.dataTables.css' %}">
{% endblock cssfile %}

{% block jsscript %}
  <script>
      $(document).ready(function () {
          $('#container_list').DataTable({
              language: {
                  url: "{% static 'datatable_chinese.json' %}"
              }
          });
      });
      var isCheckAll = false;

      function swapCheck() {
          if (isCheckAll) {
              $("input[type='checkbox']").each(function () {
                  this.checked = false;
              });
              isCheckAll = false;
          } else {
              $("input[type='checkbox']").each(function () {
                  this.checked = true;
              });
              isCheckAll = true;
          }
      }
  </script>
{% endblock jsscript %}

{% block main %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>容器列表</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="container_list" class="table table-hover">
            <thead>
            <tr>
              <th><input type="checkbox" onclick="swapCheck()"/></th>
              <th>容器短ID</th>
              <th>容器名</th>
              {#              <th>labels</th>#}
              <th>image</th>
              <th>status</th>
              <th>绑定端口</th>
              <th>IP地址</th>
              <th>创建时间</th>
              {#              <th>attrs</th>#}
            </tr>
            </thead>
            <tbody>
            {% for container in containers_list %}
              <tr>
                <td><input type="checkbox" value="{{ container.name }}" name="container_name"/></td>
                <td>{{ container.short_id }}</td>
                <td><a href="/container/{{ container.id }}">{{ container.name }}</a></td>
                {#                <td>{{ container.labels }}</td>#}
                <td>{{ container.image }}</td>
                <td>{{ container.status }}</td>
                <td>{{ container.attrs.HostConfig.PortBindings }}</td>
                {#                {% set NetworkName={{ container.attrs.HostConfig.NetworkMode }} %}{% endwith %}#}
                <td>{{ container.attrs.NetworkSettings.Networks.IPAddress }}</td>
                <td>{{ container.attrs.State.StartedAt }}</td>
                {#                <td>{{ container.attrs }}</td>#}
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>容器创建</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <form class="form-horizontal form-label-left" novalidate>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                       data-validate-words="2" name="name" placeholder="both name(s) e.g Jon Doe" required="required"
                       type="text">
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Confirm Email <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="email" id="email2" name="confirm_email" data-validate-linked="email" required="required"
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Number <span
                      class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="number" id="number" name="number" required="required" data-validate-minmax="10,100"
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">Website URL <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="url" id="website" name="website" required="required" placeholder="www.website.com"
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Occupation <span
                      class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="occupation" type="text" name="occupation" data-validate-length-range="5,20"
                       class="optional form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="item form-group">
              <label for="password" class="control-label col-md-3">Password</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="password" type="password" name="password" data-validate-length="6,8"
                       class="form-control col-md-7 col-xs-12" required="required">
              </div>
            </div>
            <div class="item form-group">
              <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="password2" type="password" name="password2" data-validate-linked="password"
                       class="form-control col-md-7 col-xs-12" required="required">
              </div>
            </div>
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telephone <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="tel" id="telephone" name="phone" required="required" data-validate-length-range="8,20"
                       class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Cancel</button>
                <button id="send" type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock main %}