{% extends 'base/index_base.html' %}

{% block main %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>容器列表</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>容器短ID</th>
              <th>容器名</th>
{#              <th>labels</th>#}
              <th>image</th>
              <th>status</th>
              <th>绑定端口</th>
              <th>IP地址</th>
              <th>创建时间</th>
{#              <th>attrs</th>#}
            </tr>
            </thead>
            <tbody>
            {% for container in containers_list %}
              <tr>
                <td>{{ container.short_id }}</td>
                <td><a href="/container/{{ container.id }}">{{ container.name }}</a></td>
{#                <td>{{ container.labels }}</td>#}
                <td>{{ container.image }}</td>
                <td>{{ container.status }}</td>
                <td>{{ container.attrs.HostConfig.PortBindings }}</td>
{#                {% set NetworkName={{ container.attrs.HostConfig.NetworkMode }} %}{% endwith %}#}
                <td>{{ container.attrs.NetworkSettings.Networks.IPAddress }}</td>
                <td>{{ container.attrs.State.StartedAt }}</td>
{#                <td>{{ container.attrs }}</td>#}
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


{% endblock main %}