{% extends 'base/index_base.html' %}
{% load staticfiles %}
{% block metablock %}
  <meta http-equiv="refresh" content="30">
{% endblock metablock %}

{% block jsfile %}
  <script src="{% static 'js/echarts.js' %}"></script>
{% endblock jsfile %}

{% block main %}
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-desktop"></i> 主机号：{{ hostobj.id }} 主机名：{{ hostobj.name }}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <section class="content invoice">
            <div class="row invoice-info" style="font-size: 15px">
              <div class="col-sm-4 invoice-col">
                IP地址：{{ hostobj.ip_addr }}
              </div>
              <div class="col-sm-4 invoice-col">
                主机组：{% for group in hostobj.host_group %}{{ group }} | {% endfor %}
              </div>
              <div class="col-sm-4 invoice-col">
                CPU数量：{{ hostinfo.cpu_count_num }}
              </div>
              <div class="col-sm-4 invoice-col">
                CPU逻辑数量：{{ hostinfo.cpu_count_logical_num }}
              </div>
              <div class="col-sm-4 invoice-col">
                内存大小：{{ hostinfo.virtual_memory_total }}
              </div>
              <div class="col-sm-4 invoice-col">
                Swap大小：{{ hostinfo.swap_memory_total }}
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--监控本机CPU块-->
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>CPU负载</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {{ p1|safe }}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>实时内存</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content" style="height: 250px">
          {{ mg|safe }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>网络</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            {{ p2|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--本机网络块-->
{% endblock main %}