{% extends "base/index_base.html" %}
{% load staticfiles %}
{% block title %}LaoguMon{% endblock title %}
{% block metablock %}
  <meta http-equiv="refresh" content="30">
{% endblock metablock %}

{% block jsfile %}
  <script src="{% static 'js/echarts.js' %}" xmlns="http://www.w3.org/1999/html"></script>
  <script src="{% static 'js/custom.min.js' %}"></script>
{% endblock jsfile %}

{% block main %}
  <!--Dashboard的最上面一行信息，包括主机数、服务数、容器数、镜像数、网络数-->
  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <a href="/hostlist"><span class="count_top"><i class="fa fa-user"></i>  主机</span>
        <div class="count">{{ top_info_dic.hosts_count }}</div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <a href="/containerlist"><span class="count_top"><i class="fa fa-user"></i>  容器</span>
        <div class="count green">{{ top_info_dic.containers_count }}</div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <a href="/imagelist"><span class="count_top"><i class="fa fa-user"></i>  镜像</span>
        <div class="count">{{ top_info_dic.images_count }}</div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <a href="/networklist"><span class="count_top"><i class="fa fa-user"></i>  容器网络</span>
        <div class="count">{{ top_info_dic.networks_count }}</div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <a href="#"><span class="count_top"><i class="fa fa-user"></i>  磁盘</span>
        <div class="count">4</div>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <a href="/volumelist"><span class="count_top"><i class="fa fa-user"></i>  数据卷</span>
        <div class="count">{{ top_info_dic.volumes_count }}</div>
      </a>
    </div>
  </div>
  <!--/Dashboard的最上面一行信息-->
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-desktop"></i> 本机信息</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <section class="content invoice">
            <div class="row invoice-info" style="font-size: 15px">
              <div class="col-sm-4 invoice-col">
                本机主机名：{{ top_info_dic.local_sys_info.Name }}
              </div>
              <div class="col-sm-4 invoice-col">
                Linux内核：{{ top_info_dic.local_sys_info.KernelVersion }}
              </div>
              <div class="col-sm-4 invoice-col">
                操作系统：{{ top_info_dic.local_sys_info.OperatingSystem }}
              </div>
              <div class="col-sm-4 invoice-col">
                Arch：{{ top_info_dic.local_sys_info.Architecture }}
              </div>
              <div class="col-sm-4 invoice-col">
                Docker版本：{{ top_info_dic.local_sys_info.ServerVersion }}
              </div>
              <div class="col-sm-4 invoice-col">
                Docker镜像仓库：{% for mirror in top_info_dic.local_sys_info.RegistryConfig.Mirrors %}{{ mirror }}
                <br>{% endfor %}
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>


  <!--块信息（一行有三块）-->
  <div class="row">
    <!--监控本机CPU块-->
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>本机CPU负载</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {{ page1|safe }}
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>本机实时内存</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content" style="height: 250px">
          {{ mem_gauge|safe }}
        </div>
      </div>
    </div>

    <!--/监控本机CPU块-->

    <!--监控本机MEM块-->
    {#    <div class="col-md-4 col-sm-6 col-xs-12">#}
    {#      <div class="x_panel fixed_height_320">#}
    {#        <div class="x_title">#}
    {#          <h2>本机MEM负载</h2>#}
    {#          <div class="clearfix"></div>#}
    {#        </div>#}
    {#        <div class="x_content">#}
    {#          {{ myechart2|safe }}#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
    <!--/监控本机MEM块-->
  </div>

  <div class="row">
    <div class="container">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Network Graph</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            {{ page2|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--本机网络块-->

{% endblock main %}

