{% extends 'base/index_base.html' %}
{% load staticfiles %}
{% block jsfile %}
  <script src="{% static 'js/jquery.dataTables.js' %}"></script>
{% endblock jsfile %}
{% block cssfile %}
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
{% endblock cssfile %}

{% block jsscript %}
  <script>
      $(document).ready(function () {
          $('#volume_list').DataTable({
              language: {
                  url: "{% static 'datatable_chinese.json' %}"
              }
          });
      });

      var isCheckAll = false;

      function swapCheck() {
          if (isCheckAll) {
              $("input[type='checkbox']").each(function () {
                  this.checked = false;
              });
              isCheckAll = false;
          } else {
              $("input[type='checkbox']").each(function () {
                  this.checked = true;
              });
              isCheckAll = true;
          }
      }
  </script>
{% endblock jsscript %}

{% block main %}
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>镜像列表</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="volume_list" class="table table-hover">
            <thead>
            <tr>
              <th><input type="checkbox" onclick="swapCheck()"/></th>
              <th>数据卷短ID</th>
              <th>数据卷名</th>
              <th>数据卷驱动</th>
              <th>数据卷类型</th>
              <th>数据卷创建时间</th>
              {#              <th>attrs</th>#}
            </tr>
            </thead>
            <tbody>
            {% for volume in volume_list %}
              <tr>
                <td>{{ volume.short_id }}</td>
                <td><a href="/volume/{{ volume.short_id }}">{{ volume.name }}</a></td>
                <td>{{ volume.attrs.Driver }}</td>
                <td>{{ volume.attrs.Scope }}</td>
                <td>{{ volume.attrs.CreatedAt }}</td>
                {#                <td>{{ volume.attrs }}</td>#}
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


{% endblock main %}